// Banner Section Start
.banner-area {
    @media (min-width: 992px) and (max-width: 1199px){
        gap: 0 10px;
    }
}
.banner-single-thumb {
    max-width: 250px;
    max-height: 200px;
    @include breakpoint (max-xl) {
        max-width: 160px;
    }
    &:not(:last-child) {
        margin-bottom: 12px;
        @include breakpoint (max-xl) {
            margin-bottom: 10px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.banner-slider-wrapper {
    max-width: 1050px;
    @media (max-width: 1500px) {
        max-width: 868px;
    }
    @include breakpoint (max-xxl){
        max-width: 768px;
    }
    @include breakpoint (max-xl){
        max-width: 590px;
    }
    @include breakpoint (max-lg){
        max-width: 100%;
    }
    .single-slider {
        @include breakpoint (max-xl) {
            img {
                width: 100%;
            }
        }
    }
}
.slick-dots {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    li {
        margin: 0;
        &.slick-active {
            button {
                background-color: #00007B;

            }
        }
        button {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #E1E1E1;
            padding: 0;
            &::before {
                display: none;
            }
            
        }
    }
}
.banner-section {
    .slick-arrow {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        cursor: pointer;
        box-shadow: 0px 3px 6px #0000000d;
        &.arrow-right {
            left: auto;
            right: 10px;
        }
    }
}
// Banner Section End