
// Category  Section Start 
.category-section {
    margin-top: 20px;
}
.category-wrapper {
    background-color: #fff;
    box-shadow: 0px 3px 6px #0000000d;
    padding-top: 30px;
    padding-bottom: 20px;
}
.category-item {
    width: calc(100% / 7);
    @include breakpoint (max-lg) {
        width: calc(100% / 4);
        padding-inline: 15px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    @include breakpoint (max-sm) {
        width: calc(100% / 2);
    }
    a {
        img {
            width: 100%;
            max-height: 75px;
        }
    }
    p {
        color: #0D2255 ;
        font-size: 14px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 0;
        @include breakpoint (max-xl) {
            line-height: 1.2;
            margin-top: 10px;
        }
    }
}

// Product Section Start
.product-section {
    padding: 50px 0;
}
.product-item {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 25px;
    overflow: hidden;
    @include breakpoint (max-xl) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &:hover {
        img {
            transform: scale(1.15);
        }
    }
    &__thumb {
        padding-bottom: 40px;
        padding-inline: 10px;
        overflow: hidden;
        @include breakpoint (max-xl) {
            padding-bottom: 20px;
        }
        img {
            width: 100%;
            object-fit: contain;
            transition: all ease .3s;
        }
    }
    &__content {
        padding-inline: 10px;
        .text {
            font-size: 14px;
            font-weight: 300;
            color: #454545;
            @include breakpoint (max-xl)  {
                line-height: 1.3;
            }
        }
        .price {
            color: #454545;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.2;
        }
        .vat {
            font-size: 18px;
            color: #C8AF77;
            font-weight: 700;
            span {
                font-size: 14px;
            }
        }
    }
}

// Image Show Section Start 
.image-show {
    img {
        width: 100%;
    }
}


// Overview Info Section Start
.overview-info-section {
    padding: 25px 0;
}
.overview-info-wrapper {
    padding: 35px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    @include breakpoint (max-xl) {
        padding: 30px 20px;
    }
}
.overview-info-item {
    max-width: 260px;
    @include breakpoint (max-xl) {
        max-width: 250px;
    }
    @include breakpoint (max-lg) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    .icon {
        width: 45px;
        @include breakpoint (max-xl) {
            width: 40px;
            img {
                width: 100%;
            }
        }
    }
    .content {
        width: calc(100% - 45px);
        padding-left: 25px;
        @include breakpoint (max-xl) {
            padding-left: 15px;
            width: calc(100% - 40px);
        }
        h6 {
            font-size: 14px;
            font-weight: 700;
            color: #0D2255 ;
            margin-bottom: 2px;
        }
        p {
            font-size: 13px;
            font-weight: 300;
            color: #454545;
            line-height: 1.4;
        }
    }
}

// Newsletter Section Start 
.newsletter-section {
    background-color: #C8AF77;
    padding: 30px 0;
}
.newsletter-form {
    max-width: 600px;
    .title {
        font-size: 21px;
        @include breakpoint (max-sm) {
            font-size: 18px;
        }
    }
    .form--control {
        height: 58px;
        position: relative;
        border: 2px solid #fff;
        border-radius: 50px;
        background-color: transparent;
        padding-inline: 25px;
        color: #fff;
        font-size: 15px;
        &::placeholder {
            color: #fff;
        }
    }
    button {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: transparent;
        border: 0;
        outline: none;
        padding-inline: 25px;
    }
}
.social-media {
    @include breakpoint (max-sm) {
        img {
            max-width: 40px;
        }
    }
}

// Inner Banner Section Start 
.inner-banner-section {
    padding-bottom: 20px;
    padding-top: 40px;
    img {
        width: 100%;
    }
}

// Product Two Section Start
.product-two {
    padding-bottom: 30px;
}
.product-two-wrapper {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

}
.product-two-item {
    img {
        border: solid 1px #cecece;
        width: 100%;
    }
    .text {
        background-color: #C8AF77;
        margin-bottom: 0;
        color: #fff;
        padding: 7px 0;
        font-weight: 500;
        font-size: 15px;
    }
}

// Product Details Section Start
.product-details-section {
    padding-bottom: 30px;
}
.product-details-content {
    .product-details__title {
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        span {
            font-weight: 600;
            color: #000;
        }
    }
}
.product-model-listing {
    .model-name {
        color: #000;
        font-size: 16px;
        margin-bottom: 15px;
        span {
            color: #C8AF77;
            padding-left: 8px;
        }
    }
    ol {
        list-style: circle;
        li {
            font-size: 14px;
            color: #000;
            line-height: 1.4;
        }
    }
}
.product-model-img {
    padding-bottom: 40px;
    img {
        max-width: 150px;
        @include breakpoint (max-sm) {
            max-width: 100px;
        }
    }
}